@model SeminarWeb.Models.T_USER_DATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_USER_DATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isvalid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isvalid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
